.navregister{
    padding-top:30px;
    border-radius:1px;
    background-color: wheat;
    display:flex;
    height: flex;
    width: auto;
    border-radius: 5px;
    list-style-type: none;
    margin-right: 10px;   
}
.homeheader{
   
    padding-top:30px;
    border-radius:1px;
    background-color: wheat;
    display:flex;
    justify-content:center;
    margin-right: auto;
    height: auto;
    width: flex;
    border-radius: 5px;
    list-style-type: none;
    font-size: large;
}
.home{
    border:solid;
    border-color: wheat;
    padding-top:0px;
    border-radius:1px;
    background-color: wheat;
    display:flex;
    justify-content: left;
    margin-right: auto;
    margin-top: auto;
    height: auto;
    width: flex;
    border-radius: 5px;
    list-style-type: none;
}
.navhome{
    border:solid;
    border-radius:1px;
    background-color: wheat;
    display:flex;
    justify-content: right;
    margin-right: 2px;
    height: 70px;
    width: auto;
    margin-top: 0;
    border-radius: 5px;
    list-style-type: none; 
    border-color: wheat;     
}
.navhomeReg{
    border:solid;
    border-radius:1px;
    background-color: wheat;  display:flex;
    justify-content: right;
    margin-right: 2px;
    height: 5px;
    width: auto;
    margin-top: auto;
    margin-bottom: 24px;
    border-radius: 5px;
    list-style-type: none; 
    border-color: wheat; 
}
.body{
}
.container{
height:auto;
text-align: center;
justify-content: center;
flex-direction: row;
display:flex;
background-color: rgb(226, 232, 232);
margin-right: 10px;
}
.registerForm{
}
.input{
    text-align: center;
    justify-content: center;
    display:grid;
    justify-content: center;
    flex-direction:column;
    margin-top: 5px;
}
.btnsubmit{ 
       
}
.footer{

    border: 20px solid wheat;
    border-radius:5px;
    display:flex;
    margin-top: 0;
    height: auto;
    width: auto;
    margin-right: 10px;
}