html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  border: 20px solid wheat;
  border-radius:5px;
}

article {
  margin-top: 20px;
}
/* searchbar.js styles */
#searchBar{
  width: 45%;
  margin: 5px auto;
}

.main {
  text-align: center;
}

.flex-container{
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
}
.tableContainer {
  height: 400px;
  padding: 25px 100px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px black;
  
  overflow: auto;
}





















.navregister{
  padding-top:30px;
  border-radius:1px;
  background-color: wheat;
  display:flex;
  height: flex;
  width: auto;
  border-radius: 5px;
  list-style-type: none;
  margin-right: 10px;   
}
.homeheader{
  padding-top:30px;
  border-radius:1px;
  background-color: wheat;
  display:flex;
  justify-content:center;
  margin-right: auto;
  height: auto;
  width: flex;
  border-radius: 5px;
  list-style-type: none;
  font-size: large;
}
.home{
  border:solid;
  border-color: wheat;
  padding-top:0px;
  border-radius:1px;
  background-color: wheat;
  display:flex;
  justify-content: left;
  margin-right: auto;
  margin-top: auto;
  height: auto;
  width: flex;
  border-radius: 5px;
  list-style-type: none;
}
.navhome{
  border:solid;
  border-radius:1px;
  background-color: wheat;
  display:flex;
  justify-content: right;
  margin-right: 2px;
  height: 70px;
  width: auto;
  margin-top: 0;
  border-radius: 5px;
  list-style-type: none; 
  border-color: wheat;     
}
.navhomeReg{
  border:solid;
  border-radius:1px;
  background-color: wheat;  display:flex;
  justify-content: right;
  margin-right: 2px;
  height: 5px;
  width: auto;
  margin-top: auto;
  margin-bottom: 24px;
  border-radius: 5px;
  list-style-type: none; 
  border-color: wheat; 
}
.body{
}
.container{
  height:auto;
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(226, 232, 232);
  margin-right: 10px;
}
.registerForm{
}
.input{
  text-align: center;
  justify-content: center;
  display:grid;
  justify-content: center;
  flex-direction:column;
  margin-top: 5px;
}
.btnsubmit{ 
     
}
